copier # libreria para copiar contenido, se utilizo para el uso de https://github.com/OCA/oca-addons-repo-template
pre-commit # libreria para validar los commits antes de crearlos
ensurepath # libreria usada para usar https://github.com/OCA/oca-addons-repo-template
